@import "../../node_modules/bootstrap/scss/bootstrap";

html {
  // background: #617cfb;
  // background: #56eedf;
  // background: #6a82fb;
  background: #4e54c8;
  background: linear-gradient(to bottom, #8f94fb, #4e54c8);
  min-height: 100%;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 80vh;
  height: fit-content;
  max-width: 40vw;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

footer {
  position: absolute;
  bottom: 0.75rem;

  a {
    color: #444444;

    &:hover {
      color: #000000;
      text-decoration: none;
    }
  }
}

.header {
  margin-bottom: 1rem;
}

.jumbotron {
  // background: #fd9a51;
  // background: #fdd575;
  // background: #fc5c7d;
  // background: #bc4e9c;
  // background: linear-gradient(to right, #f80759, #bc4e9c);
  background: #d3cce3;
  background: linear-gradient(to bottom, #e9e4f0, #d3cce3);
  border-radius: 10px 10px 0 0 !important;

  @media (min-width: 576px) {
    padding: 1.5rem 2rem 3rem 2rem;
  }

  .headline {
    display: inline-block;
    background-color: inherit;
    padding: 0.3rem;
    border: 1px solid transparent;
    font-size: 2.5rem;
    font-weight: 300;
    width: 100%;

    @media (min-width: 576px) {
      font-size: 3.5rem;
    }
  }
}

.container {
  // max-width: 620px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

.todo-items {
  margin-top: 1rem;
}

.todo-item {
  &:hover {
    background-color: #efefef;
  }

  td {
    padding: 0.25rem 0;

    &:first-child {
      padding-left: 0.5rem;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      padding-right: 0.5rem;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  td.col-action {
    text-align: right;
    padding-right: 0.25rem;

    .icon-remove {
      color: #c0c0c0;
      cursor: pointer;
      padding: 0 0.25rem;

      &:hover {
        color: #bd2d2d;
      }
    }
  }

  input[type="text"] {
    border: 1px solid transparent;
    padding: 0 0.25rem;
    width: 98%;
    height: auto;
  }
}
